.container {  
  display: grid;  
  grid-template-columns: 8fr 3fr; /* 8:3 ratio */  
  gap: 10px;  
}  
.item1 { background-color: lightblue; }  
.item2 { background-color: lightgreen; }

.hidden-nav {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.bg-local {
  background-image: url('/public/images/to-do-bg.jpg');
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}
#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}